*.py text eol=lf
*.js text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
*.htm text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.vala text eol=lf
*.vapi text eol=lf
*.c text eol=lf
*.h text eol=lf
*.gir text eol=lf
*.svg text eol=lf
*.desktop text eol=lf
*.sh text eol=lf
*.gitattributes text eol=lf
*.gitignore text eol=lf
*.hgignore text eol=lf
*.env text eol=lf
*.rc text eol=lf
*.clangd text eol=lf
*.options text eol=lf
PKGBUILD text eol=lf
