# LSP
.clangd

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
*.log

# Android CI artifacts
vapi/
subprojects/*.tar.*
subprojects/*.tar
subprojects/packagecache/
subprojects/expat-*/**
subprojects/exiv2-*/**
subprojects/gexiv2-*/**
