[Desktop Entry]
Name=Live Photo Converter
Comment=Create, extract, convert and repair Android Live Photos
Comment[de]=Android Live Photos erstellen, extrahieren, konvertieren und reparieren
Comment[es]=Crea, extrae, convierte y repara Live Photos de Android
Comment[fr]=Créez, extrayez, convertissez et réparez des Live Photos Android
Comment[ja]=Android Live Photo の作成、抽出、変換、修復
Comment[ko]=Android Live Photo 생성, 추출, 변환 및 복구
Comment[pt_BR]=Crie, extraia, converta e repare Live Photos do Android
Comment[ru]=Создавайте, извлекайте, конвертируйте и восстанавливайте Android Live Photos
Comment[zh_CN]=创建、提取、转换和修复 Android 动态照片
Exec=live-photo-conv-gtk
Icon=com.github.wszqkzqk.live-photo-conv
Type=Application
Categories=Graphics;Photography;
Terminal=false
StartupNotify=true
Keywords=live photo;motion photo;android;create;make;convert;extract;repair;video;image;
