[Desktop Entry]
Name=Live Photo Converter
Comment=Convert, extract and repair Android Live Photos
Exec=live-photo-conv-gtk
Icon=live-photo-conv
Type=Application
Categories=Utility;Graphics;Photography;
Terminal=false
StartupNotify=true
Keywords=live photo;motion photo;android;convert;extract;repair;video;image;
